
.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: justify;
    margin-left: 40%;
    font-size: 20px;
}

.form-button{
    width: 90px;
    margin-left: 10%;
}

.form-container{
    background-color: bisque;
    width: 75%;
    margin-left: 10%;
    margin-right: 10%;
    align-items: center;
    text-align: center;
    height: 400px;
    border-radius: 10px;
    box-shadow: 10px;
}

.form-input{
    border-color: aqua;
    border-radius: 7px;
    height: 25px;
}


